<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error=> { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<section class="form-container">
    
    <form action="/inv/delete" method="POST">
        <fieldset>
            <br>
            <p>Confirm Deletion - THE DELETION IS PERMANENT.</p>
            <label for="invmake">Make</label>
            <input type="text" readonly <% if(locals.inv_make){ %>
            value="<%= locals.inv_make %>" <% } %>>        
        
      
            <label for="invmodel">Model</label>
            <input type="text" readonly <% if(locals.inv_model){ %>
            value="<%= locals.inv_model %>" <% } %>> 
      
            <label for="price">Price</label>
            <input type="text" readonly <% if(locals.inv_price){ %>
            value="<%= locals.inv_price %>" <% } %>> 
      
            <label for="year">Year</label>
            <input type="text" readonly <% if(locals.inv_year){ %>
            value="<%= locals.inv_year %>" <% } %>> 
            <br>
            <button id="addInvBtn" type="submit" class="form-button">Delete Vehicle</button>
            <input type="hidden" name="inv_id" <% if(locals.inv_id) { %>
            value="<%= locals.inv_id %>" <% } %>>
        </fieldset>
    </form>
</section>
